---
#
# Ansible managed
#
language: python

python:
  - "3.7"

services:
  - docker

env:
  global:
    namespace="robertdebock"
  matrix:
    - image="centos" tag="7"

cache:
  - pip

install:
  - pip install --upgrade pip
  - pip install tox

script:
  - tox --parallel all

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: D5M22XXjD8O6lcsASB4QKMf9lfUDBz6vz5+QFXrBsT/JaH4PPhJ2b9lWIWuNQEZG20d8NOn9lSoBAzJvOG6ryiT33FLoSOMpAXd8HmICF7qwOa6PvxQAN1bD3eGU+9b0iLIqyw/AsHz4HTBqhB1acmzCI49IeDZ7fSw2dPjhBN38MSnWEZgsrGERUDmEQf7nQwFtdsAKVvtcBMprr7NYqKX3p/CucLK4hFIv9/DOWN3FSDmPOoJQVN0QBcFWoLNxyMA0dzOrLQw9HxQRHxmv8ai8otat+zuBiQMRr6zQ5m4cWkzBl9BU32UzG1HDhzNflyPkPUmty8G+uHPNLVq175h3D30V23xleUw7f3yFdrF0qXVGQ+Qd+6VpRaXm39WeawiMJFbRsXSVjZ0mKHqJOC0UoQ5grGRj69hZOsigeE5lYYW1kVtyDNp9fynaK8mX/B5/Nysx2cXCIne8D6K40RLt8UeAtA72YpXzs/2PNf/eUaGgX1sxNMCeBrf4hyzJsbg1GhUVUrZwtVZ4ZjpN9X3EMOjdTajbXtuTtwt62dmG+nGVn3YupdRBWu1U+jChB5krMotzRb068NK5vOBxDyAySGUDB9pTCAr06i/sXr1i4O2RCEyRPbk+AkrDbpJIqVxUqA60vcn3sBWKbvCKqWqIDijTylTqVRGrxP8Wpb4=
  email: false
